.banner{
    background:#cf576b;
    color: #ffffff;
    text-align: center;
    padding: 30px;

}

.banner h1 {
    font-size: 4rem;
}

@media (max-width: 500px) {
.banner h1{
    font-size:3rem;
}


}
