.product {
    ;
}

.product-image{

    width: 100%;
    height: auto;
}

.product-price{
    position: absolute;
    top: 8px;
    left: 16px;
}


.product-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:50px;
    height: auto;
    position: relative;

}

.product-stars{
    position: absolute;
    top: 8px;
   right: 16px;
}

.product-title{
    position: absolute;
    bottom: 8px;
}