.signin{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-center{
    max-width: 50%;
}
.statusbar{
    padding: .75rem .5rem;
    color: white;
    width: 100%;
    background: #ef657b;
}
.statusbar h2{
    text-align: center;
}
.background-grey{
    background: #f3f3f3;
}


.img-responsive{
    height: auto;
    width: 100px;
    max-width: 100%;
}

.orderProductsInfo{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}


.display-flex{
    display: flex!important;
}
.order-product-box{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}
.order-product-child{
    align-items: center;
    justify-content: center;
}
.product-info{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.product-info span{
    margin-right:auto ;
}
.mb-15{
    margin-bottom: 15px;
}

.customWidthProfile{
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    cursor: pointer;
}

.table-bordered-custom{
    border: 1px solid #ef657b;
}
.dropzone-box{
    position: relative;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
}
@media (max-width: 767px) {
    .customWidthProfile{
        display: none;
    }
}
