/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
}

.blog-header-logo {
    font-family: "Parisienne";
    font-size: 5rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;

}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.UpperNav{

    justify-content: center;
    background: #cf576b;
    color: #ffff;
}
.NOPM{
    padding: 0;
    margin: 0;
}

.nav-item{
    color: #ffff !important;
}

.text-black{
    color:black;
}

.searchbar{
    position: fixed;
    top:1rem;
    right:1rem;
}
h4 {
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
    transform: scale(0);
    transition: all 0.3s;
    position: relative;
    top: -25px;
    margin: 0;
    font-weight: normal;
}
h4.show {
    animation: alert 0.18s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes alert {
    0%{
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
form {
    transition: all 0.15s;
}
form.explode {
    transform: scale(1.4);
    opacity: 0;
}

form {
    background: black;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    position: relative;
}
input[type="submit"]{
    display: none !important;
}
input {
    width: 100%;
}
input {
    background: none;
    border: 3px solid #fff;
    border-radius: 26px;
    box-sizing: border-box;
    padding: 5px 15px 7px;
    font-size: 14px;
    color: #fff;
    z-index: 2;
    position: relative;
}
input:focus {
    outline: none;
}
.after {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 1;
}
form.open .after {
    cursor: pointer;
}
.after:before,
.after:after {
    content: '';
    width: 13px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    transform-origin: 100% 100%;
}
.after:after{
    bottom: -3px;
    right: -3px;
    transform: rotate(45deg);
}
.after:before {
    top: -3px;
    right: -3px;
    transform: rotate(-45deg);
    opacity: 0;
}
form,
form .after,
form .after:before,
form .after:after {
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
}
form.in {
    animation-name: expand;
}
form.in .after:before {
    animation-name: beforemagic;
}
form.in .after:after {
    animation-name: aftermagic;
}

form.close,
form.close .after,
form.close .after:before,
form.close .after:after {
    animation-direction: reverse;
}
form.close {
    animation-name: expand;
}
form.close .after:before {
    animation-name: beforemagic;
}
form.close .after:after {
    animation-name: aftermagic;
}

/* Hold final focused state
 ****************************/
form.open {
    width: 250px;
    color: #fff;
}
form.open .after {
    z-index: 3;
}
form.open .after:before {
    width: 20px;
    top: 9px;
    right: 13px;
    opacity: 1;
}
form.open .after:after {
    width: 20px;
    bottom: 10px;
    right: 15px;
}

@keyframes aftermagic {
    0%   {}
    10% {
       // width: 24px;
        bottom: -10px;
        right: -10px;
    }
    15%{
        opacity: 1;
    }
    35% {
        width: 13px;
        bottom: -3px;
        right: -3px;
        opacity: 0;

    }
    25% {
        opacity: 0;
    }
    64% {
        opacity: 0;
    }
    65% {
        opacity: 1;
        width: 13px;
        bottom: -2px;
        right: -3px;
    }
    75% {
        width: 30px;
        bottom: 4px;
        right: 10px;
    }
    90% {
        width: 20px;
        bottom: 10px;
        right: 15px;
    }
    100% {
        width: 20px;
        bottom: 10px;
        right: 15px;
    }
}
@keyframes beforemagic {
    0%   {}
    50% {
        opacity: 0;
    }
    55% {
        opacity: 1;
        width: 13px;
        top: -4px;
        right: -3px;
    }
    65% {
        width: 30px;
        top: 6px;
        right: 10px;
    }
    80% {
        width: 20px;
        top: 9px;
        right: 13px;
    }
    100% {
        width: 20px;
        top: 9px;
        right: 13px;
        opacity: 1;
    }
}
@keyframes expand {
    0%   {
        color: transparent;
    }
    20% {
        width: 36px;
    }
    45% {
        width: 250px;
    }
    99% {
        color: transparent;
    }
    100% {
        width: 250px;
        color: #fff;
    }
}
