body {
    overflow-x:hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@font-face {
  font-family: "Open Parisienne";
  src: url("Assets/Fonts/Parisienne-Regular.ttf") format("ttf");
}

.Parisienne{
  font-family: "Open Parisienne";
}

.mainButton{
    font-size: 1.6rem;
    background: #ffff;
    color: #cf576b;
    padding: 10px 18px;
    margin: 0;
    border : 2px solid #cf576b;
}
.mainButton:hover{
    cursor:pointer;
    font-size: 1.6rem;
    background: #cf576b;
    color: #ffff;
    padding: 10px 18px;
    margin: 0;
    border : 2px solid #ffff;
}

.ButtonMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.container-fluid-NOP{
    margin:0 !important;
    padding:0 !important;
}

.RalewayBold{
    font-family:"RalewayBOLD";
}


.RalewayExtraBold{
    font-family:"RalewayBOLDEXTRA";
}

@font-face {
    font-family: "RalewayBOLD";
    src: url("/fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "RalewayBOLDEXTRA";
    src: url("/fonts/Raleway-ExtraBold.ttf");
}
.row-fluid{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.NOHREF{
    text-decoration: none;
    color:inherit;
}
.NOHREF:hover{
    text-decoration: none;
    color:inherit;
}


.Item-title{
    font-weight: bolder;
    text-align: center;
}
.breadcrumb{
    background: #cf576b;
}
.breadcrumb a{
    color:white;

}
.breadcrumb li{

    color:white !important;
}
.breadcrumb-item+.breadcrumb-item::before{
    display: inline-block;
    padding-right: .5rem;
    color: white;
    content: "/";
}

.stars{
    text-align: center;

}
@media (max-width: 766px) {
    .addCartfirst{
        display: none;
    }
    .customWidth{
        display: none;
    }
}
.CartButtonWrapper{
    display: flex;
    justify-content: space-between;
}

.addCartfirst{
    width: 72%;
    background: #cf576b;
    color: white;
    border:2px solid #b34863;
}
.addCartfirst:hover{
    background: white;
    color: #cf576b;
    border:2px solid #cf576b;
}
.amountForm{
    text-align: center;

}
.customWidth{
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.greyArrow::before{
    color: #cf576b !important;
}
.greyArrow{
    cursor: pointer;
}

@media (max-width: 991px) {
    .customWidthProfile {
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
    }
}
